@import "../config/var.scss";
.fa-button {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 7px 20px;
  margin: 0px 9px;
  border-radius: var(--default-radius);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.11s ease-in-out;
  &:hover {
    transform: translateY(-1px);
  }
  &.fa-button-default {
    background-color: var(--default-color-lighter-1);
    &:hover {
      background-color: var(--default-color);
    }
    &:active {
      background-color: var(--default-color-darker-1);
    }
  }
  &.fa-button-primary {
    color: #fff;
    background-color: var(--primary-color);
    &:hover {
      background-color: var(--primary-color-lighter-1);
    }
    &:active {
      background-color: var(--primary-color-darker-1);
    }
  }
  &.fa-button-success {
    color: #fff;
    background-color: var(--success-color);
    &:hover {
      background-color: var(--success-color-lighter-1);
    }
    &:active {
      background-color: var(--success-color-darker-1);
    }
  }
  &.fa-button-warning {
    color: #fff;
    background-color: var(--warning-color);
    &:hover {
      background-color: var(--warning-color-lighter-1);
    }
    &:active {
      background-color: var(--warning-color-darker-1);
    }
  }
  &.fa-button-danger {
    color: #fff;
    background-color: var(--danger-color);
    &:hover {
      background-color: var(--danger-color-lighter-1);
    }
    &:active {
      background-color: var(--danger-color-darker-1);
    }
  }
}
